@model WebApplication3.Models.Employe

@{
    ViewData["Title"] = "Employee Details";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow-lg p-3 mb-5 bg-white rounded">
                <div class="card-header bg-info text-white">
                    <h4 class="mb-0"><i class="fas fa-info-circle"></i> @ViewData["Title"]</h4>
                </div>
                <div class="card-body">
                    <dl class="row">
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.FullName)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.FullName)
                        </dd>

                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.Age)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.Age)
                        </dd>

                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.Experience)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.Experience)
                        </dd>

                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.DateOfRegistration)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.DateOfRegistration)
                        </dd>

                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.Education)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.Education)
                        </dd>

                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.Skills)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.Skills)
                        </dd>

                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.Gender)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.Gender)
                        </dd>

                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.EmployementType)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.EmployementType)
                        </dd>

                        <!-- Salary Information -->
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.Salary)
                        </dt>
                        <dd class="col-sm-8">
                            @* @{ *@
                            @*     var currencySymbol = ""; *@
                            @*     switch (Model.Currency) *@
                            @*     { *@
                            @*         case "USD": *@
                            @*             currencySymbol = "$"; *@
                            @*             break; *@
                            @*         case "GBP": *@
                            @*             currencySymbol = "£"; *@
                            @*             break; *@
                            @*         case "EUR": *@
                            @*             currencySymbol = "€"; *@
                            @*             break; *@
                            @*         case "ETB": *@
                            @*             currencySymbol = "Br"; *@
                            @*             break; *@
                            @*         case "JPY": *@
                            @*             currencySymbol = "¥"; *@
                            @*             break; *@
                            @*         default: *@
                            @*             currencySymbol = Model.Currency; *@
                            @*             break; *@
                            @*     } *@
                            @* } *@
                            @* @currencySymbol @Model.Salary.ToString("N2") *@

                            @Html.DisplayFor(model => model.Salary)
                        </dd>

                        @* <dt class="col-sm-4"> *@
                        @*     @Html.DisplayNameFor(model => model.Currency) *@
                        @* </dt> *@
                        @* <dd class="col-sm-8"> *@
                        @*     <span class="badge bg-primary"> *@
                        @*         @Html.DisplayFor(model => model.Currency) *@
                        @*     </span> *@
                        @* </dd> *@

                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.PhoneNumber)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.PhoneNumber)
                        </dd>

                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.Country)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.Country)
                        </dd>
                    </dl>
                </div>
                <h3>Attendance Records</h3>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Is Present</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var attendance in Model.Attendances)
                        {
                            <tr>
                                <td>@attendance.Date.ToShortDateString()</td>
                                <td>@(attendance.IsPresent ? "Yes" : "No")</td>
                            </tr>
                        }
                    </tbody>
                </table>


                <div class="card-footer text-muted">
                    <div class="d-flex justify-content-between">
                        <a asp-action="UpdateSalary" asp-controller="Admin" asp-route-employeeId="@Model.Id" class="btn btn-primary">
                            Update Salary
                        </a>

						<a asp-action="Index" class="btn btn-secondary">
                            <i class="fas fa-arrow-left"></i> Back to List
                        </a>
                        <a asp-action="OnboardingTasks" asp-route-employeeId="@Model.Id" class="btn btn-info">Manage Onboarding Tasks</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>